<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/main.css">
    <title><%= @title %></title>
	</head>
	<body>
		<div class="all">
			<div class="layout-yield">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
